/* ==========================================================================
   VISTA: CALENDARIO PADRE (DISEÑO EXPANDIDO Y FUSIONADO)
   ========================================================================== */
@use '../../../styles/variables' as v;

.calendario-seccion {
  background-color: v.$color-fondo-pagina;
  padding: 30px 2%; // Reducido para que el contenido respire más a los lados
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.tabs-container {
  max-width: 1600px; // Aumentado para ocupar más parte de la pantalla
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  // 1. HEADER DE NAVEGACIÓN
  .tabs-header {
    display: flex;
    gap: 4px;
    margin-bottom: -1px; // Pisa el borde del contenedor hijo
    padding-left: 10px;
    position: relative;
    z-index: 10; // Por encima para tapar la línea superior del hijo

    .tab-btn {
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 12px;
      padding: 16px 35px;
      background: #e2e8f0; 
      color: #64748b;
      border: 1px solid #cbd5e1;
      border-bottom: none;
      border-radius: 12px 12px 0 0;
      font-family: v.$fuente-enfasis;
      font-weight: 700;
      transition: all 0.2s ease;

      i { font-size: 1.2rem; }

      &:hover:not(.active) {
        background: #cbd5e1;
        transform: translateY(-2px);
      }

      &.active {
        background: white;
        color: v.$color-marca-principal;
        border: 1px solid #cbd5e1;
        border-bottom: 3px solid white ; 
        border-top: 5px solid v.$color-marca-principal;
        pointer-events: none;
      }
    }
  }

  .tabs-content {
    position: relative;
    z-index: 5;
  }
}

// Responsive
@media (max-width: 768px) {
  .tabs-header {
    flex-direction: column;
    padding-left: 0;
    .tab-btn {
      border-radius: 8px;
      &.active { border-left: 6px solid v.$color-marca-principal; border-bottom: 1px solid #cbd5e1; }
    }
  }
}

router-outlet + * {
  display: block;
  animation: fadeInTab 0.3s ease-out;
}

@keyframes fadeInTab {
  from { opacity: 0; transform: translateY(5px); }
  to { opacity: 1; transform: translateY(0); }
}