// =========================================================
// VARIABLES GLOBALES - AULA VIVA (SEMÁNTICO)
// =========================================================

// 1. COLORES DE IDENTIDAD
$color-marca-principal:  #0ed145;
$color-marca-claro:      #11e147;
$color-marca-oscuro:     #0ce146;

$color-neutro-max:       #ffffff;
$color-neutro-min:       #000000;

// 2. COLORES SECUNDARIOS POR TEMPERATURA / FUNCIÓN
$color-secundario-frio-1:   #00bcd4;
$color-secundario-frio-2:   #2d4059;
$color-secundario-calido-1: #f2994a; // Naranja de acción según guía
$color-secundario-calido-2: #f2c94c;

// 3. SUPERFICIES Y GRISES
$color-superficie-suave:    #beb3b3;
$color-superficie-oscura:   #373030;
$color-fondo-pagina:        #f8f9fa;

// 4. ASIGNACIÓN A BOOTSTRAP (Mapeo funcional)
$primary:       $color-marca-principal;
$secondary:     $color-secundario-frio-2;
$success:       $color-marca-claro;
$info:          $color-secundario-frio-1;
$warning:       $color-secundario-calido-2;
$danger:        $color-secundario-calido-1;
$dark:          $color-neutro-min;
$light:         $color-fondo-pagina;

// 5. TIPOGRAFÍA
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,700&family=Poppins:wght@500;600;700&family=Inter:wght@400&display=swap');

$fuente-lectura:     'Nunito Sans', sans-serif;
$fuente-enfasis:      'Poppins', sans-serif;

$tamaño-raiz:        1rem;
$tamaño-titular-xl:  calc(36rem / 16); 
$tamaño-titular-lg:  calc(28rem / 16); 
$tamaño-titular-md:  calc(22rem / 16); 

// 6. ESTRUCTURA
$radio-curvatura:    0.5rem; // Ajustado a 8px según guía

// 7. PROFUNDIDAD (Sombras Guía de Estilo)
$sombra-nivel-1: 0 2px 4px rgba(0,0,0,0.05);
$sombra-nivel-2: 0 10px 20px rgba(0,0,0,0.08);
$sombra-nivel-3: 0 20px 40px rgba(0,0,0,0.12);